venv/
*.log
node_modules/
build/
__pycache__/
data.db
*.db
uploads/
logs/
dist/
.env
.env.local
*.pyc
*.pyo
.DS_Store
app/frontend/src/pages/public/images/ProDragRacing.jpg
app/frontend/public/pdrl-rules.pdf
app/frontend/public/pdrl-constitution.pdf
app/frontend/public/sponsors/max-torque-performance.jpg
app/frontend/public/sponsors/dcr-motorsport.png
app/frontend/public/assets/flyers/flyer-pdrl-winter-warmup.png
app/frontend/public/assets/flyers/flyer-pdrl-fall-classic.png
app/frontend/public/assets/flyers/flyer-pdrl-shootout-night.png
app/frontend/public/assets/flyers/flyer-pdrl-summer-nationals.png
app/frontend/public/images/photo1772240712.jpg
app/frontend/public/images/PDRLChampionship.jpg
app/frontend/public/images/SummerChampionship.jpg
app/frontend/public/images/WinterWarmup.jpg
app/frontend/public/images/DragRacing.jpg
app/frontend/public/favicon.svg
app/backend/public/images/Championship.jpg
app/backend/public/images/SummerNationals.jpg
app/backend/public/images/WinterWarmup.jpg
app/backend/public/images/DragRacing.jpg
public/images/ProDragRacing.jpg
public/images/Admin.jpg
public/images/Winter.jpg
public/images/photo1771644076.jpg
public/images/photo1771644105.jpg
public/images/Events.jpg
public/images/photo1771644091.jpg
public/images/Leaderboard.jpg
public/images/photo1772170143.jpg
public/images/Flyer.jpg
public/images/Favicon.jpg
public/images/Event.jpg
public/images/Flyers.jpg
public/images/photo1771644099.jpg
public/images/SummerNationals.jpg
public/images/FallClassic.jpg
public/images/Authentication.jpg
public/images/WinterWarmup.jpg
